.product-preview-card {
  &__title {
    font-style: bold;
    font-variant-caps: all-petite-caps;
    color: green;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  &__description {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  &__image {
    width: 15rem;
    border: 5px solid #087008;
  }
}
