.home-page {
  &__title {
    color: red;
    font-family : 'Courier New', serif;

    @keyframes colourChange {
      from {background-color: black;}
      to {background-color: grey;}
    }
      width: 90px;
      background-color: black;
      animation-name: colourChange;
      animation-duration: 10s;
  }

  &__products {
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
