.home-page {
  &__title {
    color: rgb(190, 246, 188);
    font-family : 'Courier New', serif;

    @keyframes colourChange {
      from {background-color: rgba(0, 0, 0, 0.471);}
      to {background-color: rgba(128, 128, 128, 0.771);}
    }
      width: 90px;
      background-color: black;
      animation-name: colourChange;
      animation-duration: 10s;
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
